@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

$primaryGreen: #5dbb63;
$secondaryGreen: #7dc882;
$darkGray: #373737;

body {
  background-color: $darkGray;
}

#title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  color: $primaryGreen;
  // text-align: center;
  font-size: 7em;
  margin: 0 0.25em;
  // margin-bottom: 0;
  font-family: "Amatic SC", monospace;
}

#logo {
  // display: block;
  // margin: 0 auto;
  width: 5em;
  
}

#formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#login {
  margin-top: 0px;
  margin-bottom: 0px;
}

#map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-svg {
  display: block;
  margin: 0 auto 2em auto;
}

#family-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#us-map {
  // flex-basis: 4;
}

.plant-list {
  // flex-basis: 1;
  background-color: $darkGray;
}

#outer-container {
  // display: flex;
  display: grid;
  grid-template-columns: 3fr 1fr;

  // flex-direction: row;
}

#us-map {
  // flex-basis: 4;
}

#info-container {
  margin-left: 50px;
}

#listsContainer {
  margin-top : 20px;
  display: flex;
  margin-left: 100px;
}

#familyList {
}

ul {
  list-style-type: none;
}

.deleteFav-btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 5px 10px; 
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.fav-button {
  margin-top : 10px;
  margin-left : 10px;
  border: 2px solid $primaryGreen;
  border-radius: 7px;
  padding : 5px 5px;
  background-color : $darkGray;
  color: $primaryGreen;
  
  font-size: 2em;

  font-family: 'Amatic SC', monospace;

}

.notesContainer {
  display: flex;
      // I commented out line 133 because the note-boxes were appearing in plantlist pop-up
  // position: relative;
  width: 10%;
  height: 5%;
  border: 2px solid black;
}

.Notespopup-box {

}

.fav-button:focus {
  outline: none;
}

.fav-button:hover {
  background-color : $primaryGreen;
  color : $darkGray;
}

.popup-box {
  position: fixed;
  // background: #00000050;
  // background-color: darkGray;
  // border: 3px solid #5dbb63;
  // background-color: black;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
}

.box {
  position: relative;
  justify-content: space-between;
  background-color: $darkGray;
  //box-shadow: 
  box-shadow: 10px 10px 15px $primaryGreen;
  border: 3px solid #5dbb63;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  // background: #fff;
  // background-color: lightgrey;
  border-radius: 4px;
  padding: 20px;
  // border: 1px solid #999;
  overflow: auto;
}

.plantDetails-box {
  position: relative;
  justify-content: space-between;
  background-color:$darkGray;
  border: 3px solid #5dbb63;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  // background: #fff;
  // background-color: lightgrey;
  border-radius: 4px;
  padding: 20px;
  // border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.familyList-plantList-container {
  font-family: 'Amatic SC', monospace;
  color: 5dbb63; 
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.familyList-dropdown {
  position: relative;
  display: inline-block;
}

.familyList-dropbtn {
  background-color: #04AA6D;
  color: white;
  border-radius: 5px;
  margin-top: 6px;
  padding: 12px;
  font-size: 14px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  // background-color: #f1f1f1;
  min-width: 160px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li {
  // color: black;
  // padding: 2px 2px;
  text-decoration: none;
  display: block
}

.dropdown-content li:hover {
  // background-color: #ddd;
}

.familyList-dropdown:hover .dropdown-content {
  display: block;
}

.familyList-dropdown:hover .familyList-dropbtn {
  // background-color: #3e8e41;
}

.list-buttons {

    // border: none;
    background-color : lightgrey;
    border: none;
    color: darkgreen;
    // color: $primaryGreen;
    // border-color: $primaryGreen;
    font-size: 2em;

    font-family: 'Amatic SC', monospace;
  
}

.list-buttons:hover{
  position: relative;
  float: left;
  font-size : 2.5em;
  width: 100%;

}


.fav-input{
  margin-top: 20px;
  background-color: $darkGray;
  border: 2px solid $primaryGreen;
  color : $primaryGreen;
  font-size: 2em;
  width : 250px;
  height : 100px;
  padding-left: 0.5em;
  font-family: 'Amatic SC', monospace;
  //text-color : $primar
}

.fav-input:focus {
  outline: none;
}

.list-buttons:active {
  // background-color : $darkGray;
}



.list-buttons:focus {
  outline: none;
//  background-color: lighten( $darkGray, 70% );
//  border: 4px solid $primaryGreen;
  color: lighten( $primaryGreen, 80% );
  font-size: 4em;
}

// .plantListComponent

.plantlist-buttons {
  background-color : lightgrey;
  border: none;
  color: darkgreen;
  // color: $primaryGreen;
  // border-color: $primaryGreen;
  font-size: 2em;

  font-family: 'Amatic SC', monospace;
}

.plantlist-buttons:hover {
  font-size: 2.5em;
}

#plantList {
  //background-color: $darkGray;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#favorites-box {
  //border-color :$primaryGreen;
  // display: flex;
  //justify-content: center;
  height: 1000px;
  border : 3px dashed $primaryGreen;
  margin-right : 120px;
}

#favorites-title {
  //margin-top : 20px;
  text-align: center;
  margin: 15px auto;
  color: $primaryGreen;
    
  font-size: 4em;

  font-family: 'Amatic SC', monospace;
}

#favorite-list-el{
  
  color: $primaryGreen;
    
  font-size: 3em;

  font-family: 'Amatic SC', monospace;
}

#detailsList {
  //background-color: red;
  padding: 20px 20px 0px 20px;
  height: 70em;
  width: 35em;
  border: 5px dashed $primaryGreen;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.details-element {
  border: none;
  background-color : $darkGray;
  color: $primaryGreen;
  font-size: 3em;
  font-family: 'Amatic SC', monospace;
}

.details-field {
  color: lighten( $primaryGreen, 80% );
  font-size: 32px; 
}

.detail-img {
  margin-bottom: 15px;
  width: 25em;
  height: 25em;
}

#detailsContainer{
  margin-left : 50px;
}


// .family-container{
//     max-width: 200px;
//     display : flex;
//     justify-content: space-between;
// }
