#outer-container {
  // display: flex;
  // flex-direction: row;
}

#us-map {
  // flex-basis: 4;
}

#listsContainer {
  display: flex;
}

#familyList {
  background-color: aqua;
}

#plantList {
  background-color: bisque;
}

#detailsList {
  background-color: red;
}
